/*
* Mystic theme classes

*/
/* body */
body{
	width: 960px;
	margin: auto;
}

/* header setup */
.siteinfo {
	background-color: #gray;
	width: 100%;
}

header[role='banner'] {
	background-color: red;
}